{% extends "base.html" %}

{% block content%}

<div class="">
    <div class="page-header">
        <h1>About Me</h1>
    </div>

<br>
	<blockquote >
	<p class="lead">  <em>操蛋的生活中，抵制着四面八方的恶魔，风华正茂的年纪下就该激情四射，歪扭七八的笑脸虽丑犹荣。</em></p>

	 <footer><cite title="Source Title">zqh</cite></footer>
	</blockquote>
	<p class="lead">  时下的一名大三考研党，对编程感兴趣，出于体验欲望作此博客，希望记下学习过程中的感受与经验，分享生活的过程中自娱自乐。</p>

<address>
  <strong>联系方式:</strong><br>
  <abbr title="E-mail">E-mail:</abbr> zqh@163.com
</address>

<address>
  <strong>website:</strong><br>
  <a href="http://weibo.com/2935361873/">新浪微博</a>
</address>


</div>

{% endblock %}
