{% extends "base.html" %}


{% block content %}

{% for entry in category.posts%}
    <article>
        <div class="heading"><h2 class="title" style="text-transform:none;"><a href="{{ url_for('show_entry', entry_id=entry.id) }}">{{ entry.title |safe }}</a></h2></div>
        <!--<img src="/static/images/img1.jpg"/>-->
        <div class="content">
                {{ (entry.fragment)|safe }}...

        </div>
        <div class="extra">
            <div class="info">
                By Admin on {{ entry.create_time.strftime("%Y-%m-%d") }} -
                <a href="{{ url_for('show_entry', entry_id=entry.id) }}">
                    <span class="ds-thread-count" data-thread-key="{{ entry.id }}" data-count-type="comments"></span>
                </a>
            </div>
            <div class="more"><a class="button" href="{{ url_for('show_entry', entry_id=entry.id) }}">Read more >></a></div>
            <div class="clear"></div>

		<hr><hr>
        </div>
    </article>
{% endfor %}

{% endblock%}
